<a href="https://colab.research.google.com/github/Mahesh-Alyana/Amazon-ML-hackathon/blob/prep/Amazon_ML_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import statements

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from tensorflow import keras

Dataset

In [ ]:
trainData = pd.read_csv("/content/drive/MyDrive/dataset/train.csv",index_col=False)

In [ ]:
# trainData = trainData.reset_index(drop=True)
# trainData.reset_index(drop=True, inplace=True)
trainData.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [ ]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249698 entries, 0 to 2249697
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   PRODUCT_ID       int64
 1   TITLE            object
 2   BULLET_POINTS    object
 3   DESCRIPTION      object
 4   PRODUCT_TYPE_ID  int64
 5   PRODUCT_LENGTH   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 103.0+ MB

In [ ]:
trainData.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  2.249698e+06     2.249698e+06    2.249698e+06
mean   1.499795e+06     4.000456e+03    4.071839e+03
std    8.661944e+05     3.966146e+03    1.351685e+06
min    1.000000e+00     0.000000e+00    1.000000e+00
25%    7.494795e+05     2.300000e+02    5.118110e+02
50%    1.499558e+06     2.916000e+03    6.630000e+02
75%    2.250664e+06     6.403000e+03    1.062992e+03
max    2.999999e+06     1.342000e+04    1.885801e+09

In [ ]:
trainData.shape

(2249698, 6)

In [ ]:
trainData.isnull().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [ ]:
trainData.interpolate(inplace=True)

In [ ]:
trainData.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [ ]:
trainData.isnull().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [ ]:
trainData['TITLE'].fillna('', inplace=True)

In [ ]:
trainData['BULLET_POINTS'].fillna('missing', inplace=True)
trainData['DESCRIPTION'].fillna('missing', inplace=True)

In [ ]:
trainData.isnull().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [ ]:
trainData.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,missing,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",missing,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,missing,missing,6112,598.424000

In [ ]:
col = trainData['PRODUCT_TYPE_ID'].values

# Convert the integer values to float
col_float = col.astype(np.float32)

# Convert the NumPy array back to a DataFrame column
trainData['PRODUCT_TYPE_ID'] = pd.Series(col_float, index=trainData.index)


col = trainData['PRODUCT_LENGTH'].values

# Convert the integer values to float
col_float = col.astype(np.float32)

# Convert the NumPy array back to a DataFrame column
trainData['PRODUCT_LENGTH'] = pd.Series(col_float, index=trainData.index)


trainData.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,missing,1650.0,2125.979980
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",missing,2755.0,393.700012
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537.0,748.031494
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996.0,787.401550
4,283658,The United Empire Loyalists: A Chronicle of th...,missing,missing,6112.0,598.424011

# **Data PreProcessing**

In [ ]:
import pandas as pd
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string
nltk.download('wordnet')
nltk.download('stopwords')

# Define stopwords and lemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

# Define function for text preprocessing
def preprocess_text(text):
    text = str(text)
    text = text.lower() # Convert to lowercase
    text = text.translate(str.maketrans("", "", string.punctuation)) # Remove punctuation
    tokens = nltk.word_tokenize(text) # Tokenize text
    tokens = [token for token in tokens if token not in stop_words] # Remove stopwords
    tokens = [lemmatizer.lemmatize(token) for token in tokens] # Lemmatize tokens
    text = " ".join(tokens) # Join tokens to form text again
    return text

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
trainData['TITLE'] = trainData['TITLE'].apply(preprocess_text)
trainData['BULLET_POINTS'] = trainData['BULLET_POINTS'].apply(preprocess_text)
trainData['DESCRIPTION'] = trainData['DESCRIPTION'].apply(preprocess_text)

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(trainData.iloc[:,1:5], 
                                                  trainData.iloc[:,5], 
                                                  test_size=0.2, 
                                                  random_state=42)
# X_train = np.asarray(X_train).astype(np.float32)
# y_train = np.asarray(y_train).astype(np.float32)

X_train.info()
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1799758 entries, 473501 to 2219110
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   TITLE            object
 1   BULLET_POINTS    object
 2   DESCRIPTION      object
 3   PRODUCT_TYPE_ID  float32
dtypes: float32(1), object(3)
memory usage: 61.8+ MB
<class 'pandas.core.series.Series'>
Int64Index: 1799758 entries, 473501 to 2219110
Series name: PRODUCT_LENGTH
Non-Null Count    Dtype
--------------    -----
1799758 non-null  float32
dtypes: float32(1)
memory usage: 20.6 MB

In [ ]:
# X_train, X_val, y_train, y_val = train_test_split(trainData.drop(['PRODUCT_LENGTH','PRODUCT_ID'], axis=1), 
#                                                   trainData['PRODUCT_LENGTH'], 
#                                                   test_size=0.2, 
#                                                   random_state=42)
# # X_train = np.asarray(X_train).astype(np.float32)
# # y_train = np.asarray(y_train).astype(np.float32)

# X_train.head()
# # y_train.info()

Model training

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam', loss='mse')

history = model.fit(X_train, y_train, epochs=10, batch_size=128, validation_data=(X_val, y_val))

ValueError: ignored

In [ ]:
y_pred = model.predict(X_val)


score = 100 * (1 - mean_absolute_percentage_error(y_val, y_pred))
print(f'Score: {score:.2f}')