<a href="https://colab.research.google.com/github/Mahesh-Alyana/Amazon-ML-hackathon/blob/prep/AmazonML-new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from tensorflow import keras

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv('/content/drive/MyDrive/AmazonML dataset/Copy of train.csv')

In [5]:
df.info

<bound method DataFrame.info of          PRODUCT_ID                                              TITLE  \
0           1925202  ArtzFolio Tulip Flowers Blackout Curtain for D...
1           2673191  Marks & Spencer Girls' Pyjama Sets T86_2561C_N...
2           2765088  PRIKNIK Horn Red Electric Air Horn Compressor ...
3           1594019  ALISHAH Women's Cotton Ankle Length Leggings C...
4            283658  The United Empire Loyalists: A Chronicle of th...
...             ...                                                ...
2249693     2422167  Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...
2249694     2766635  (3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...
2249695     1987786  Kangroo Sweep Movement Printed Wooden Wall Clo...
2249696     1165754  Electro Voice EKX-BRKT15 | Wall Mount Bracket ...
2249697     1072666  Skyjacker C7360SP Component Box For PN[C7360PK...

                                             BULLET_POINTS  \
0        [LUXURIOUS & APPEALING: Beautiful custom-made ...
1        [Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...
2        [Loud Dual Tone Trumpet Horn, Compatible With ...
3        [Made By 95%cotton and 5% Lycra which gives yo...
4                                                      NaN
...                                                    ...
2249693                               Material : Polyester
2249694  [â¤ [Inspiration] Inspired by the Untitled Goos...
2249695  [Dial size: 12 inches in diameter,Big, clear r...
2249696                                                NaN
2249697  [Component Box For PN[C7360PK],4 in. Lift,Incl...

                                               DESCRIPTION  PRODUCT_TYPE_ID  \
0                                                      NaN             1650
1                                                      NaN             2755
2        Specifications: Color: Red, Material: Aluminiu...             7537
3        AISHAH Women's Lycra Cotton Ankel Leggings. Br...             2996
4                                                      NaN             6112
...                                                    ...              ...
2249693                                                NaN             3009
2249694  <p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...             3413
2249695  Wall Clocks Are Very Attractive In Looks And E...             1574
2249696                                                NaN              592
2249697  Skyjacker C7360SP Component Box For PN[C7360PK...             7367

         PRODUCT_LENGTH
0           2125.980000
1            393.700000
2            748.031495
3            787.401574
4            598.424000
...                 ...
2249693     1181.100000
2249694      125.984252
2249695     1200.000000
2249696     2900.000000
2249697     2000.000000

[2249698 rows x 6 columns]>

In [6]:
df.columns
for i in df.columns:
  print(i,type(i))

PRODUCT_ID <class 'str'>
TITLE <class 'str'>
BULLET_POINTS <class 'str'>
DESCRIPTION <class 'str'>
PRODUCT_TYPE_ID <class 'str'>
PRODUCT_LENGTH <class 'str'>

In [7]:
df.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  2.249698e+06     2.249698e+06    2.249698e+06
mean   1.499795e+06     4.000456e+03    4.071839e+03
std    8.661944e+05     3.966146e+03    1.351685e+06
min    1.000000e+00     0.000000e+00    1.000000e+00
25%    7.494795e+05     2.300000e+02    5.118110e+02
50%    1.499558e+06     2.916000e+03    6.630000e+02
75%    2.250664e+06     6.403000e+03    1.062992e+03
max    2.999999e+06     1.342000e+04    1.885801e+09

In [8]:
for col in df.columns:
  print(f"{col} :",end = " ")
  print("ISNull",df[f'{col}'].isnull().sum(),end = " ")
  print()
  # print("NA",df[f'{col}'].isna().sum())

PRODUCT_ID : ISNull 0
TITLE : ISNull 12
BULLET_POINTS : ISNull 837364
DESCRIPTION : ISNull 1157381
PRODUCT_TYPE_ID : ISNull 0
PRODUCT_LENGTH : ISNull 0

In [9]:
df.dropna(inplace = True)

In [10]:
df.shape

(1038460, 6)

In [11]:
# df.BULLET_POINTS.head()

In [12]:
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (3.8.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk) (2022.10.31)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [13]:
df.columns

Index(['PRODUCT_ID', 'TITLE', 'BULLET_POINTS', 'DESCRIPTION',
       'PRODUCT_TYPE_ID', 'PRODUCT_LENGTH'],
      dtype='object')

In [14]:
# Define stopwords and lemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

# Define function for text preprocessing
def preprocess_text(text):
    # Convert to lowercase
    text = str(text)
    text = text.lower()
    
    # Remove punctuation
    text = text.translate(str.maketrans("", "", string.punctuation))
    
    # Tokenize text
    tokens = nltk.word_tokenize(text)
    
    # Remove stopwords
    tokens = [token for token in tokens if token not in stop_words]
    
    # Lemmatize tokens
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    
    # Join tokens to form text again
    text = " ".join(tokens)
    
    return text

# Preprocess text in the dataset
# df['TITLE'] = df['TITLE'].apply(preprocess_text)

In [15]:
df.columns

Index(['PRODUCT_ID', 'TITLE', 'BULLET_POINTS', 'DESCRIPTION',
       'PRODUCT_TYPE_ID', 'PRODUCT_LENGTH'],
      dtype='object')

In [16]:
# for col in df.columns[1:4]:
#   df[f"{col}"] = df[f"{col}"].apply(preprocess_text)

In [17]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [18]:
df.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",HINS Brings you the most Elegant Looking Pot w...,5725,950.000000
7,2026580,Delavala Self Adhesive Kitchen Backsplash Wall...,[HIGH QUALITY PVC MATERIAL: The kitchen alumin...,<p><strong>Aluminum Foil Stickers-good kitchen...,6030,984.251967
9,2998633,Hexwell Essential oil for Home Fragrance Oil A...,[100% Pure And Natural Essential Oil Or Fragra...,"Transform your home, workplace or hotel room i...",8201,393.700787

In [19]:
df.shape

(1038460, 6)

In [20]:
df.columns

Index(['PRODUCT_ID', 'TITLE', 'BULLET_POINTS', 'DESCRIPTION',
       'PRODUCT_TYPE_ID', 'PRODUCT_LENGTH'],
      dtype='object')

In [21]:
# df = df.drop('clean_title',axis =1)

In [22]:
df.shape

(1038460, 6)

In [23]:
# df['TITLE'].fillna('', inplace=True)
# df['BULLET_POINTS'].fillna('missing', inplace=True)
# df['DESCRIPTION'].fillna('missing', inplace=True)

In [24]:
df.isnull().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [25]:
trainData = df

In [ ]:
# import numpy as np

# col = trainData['PRODUCT_TYPE_ID'].values

# # Convert the integer values to float
# col_float = col.astype(np.float32)

# # Convert the NumPy array back to a DataFrame column
# trainData['PRODUCT_TYPE_ID'] = pd.Series(col_float, index=trainData.index)


# col = trainData['PRODUCT_LENGTH'].values

# # Convert the integer values to float
# col_float = col.astype(np.float32)

# # Convert the NumPy array back to a DataFrame column
# trainData['PRODUCT_LENGTH'] = pd.Series(col_float, index=trainData.index)


# trainData.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,artzfolio tulip flower blackout curtain door w...,luxurious appealing beautiful custommade curta...,nan,1650.0,2125.979980
1,2673191,mark spencer girl pyjama set t862561cnavy mix910y,harry potter hedwig pyjama 616 yrs100 cotton e...,nan,2755.0,393.700012
2,2765088,priknik horn red electric air horn compressor ...,loud dual tone trumpet horn compatible sx4elec...,specification color red material aluminium vol...,7537.0,748.031494
3,1594019,alishah woman cotton ankle length legging comb...,made 95cotton 5 lycra give 4 way stretchable c...,aishah woman lycra cotton ankel legging brand ...,2996.0,787.401550
4,283658,united empire loyalist chronicle great migration,nan,nan,6112.0,598.424011

In [26]:
X_train, X_val, y_train, y_val = train_test_split(trainData.iloc[:,1:5], 
                                                  trainData.iloc[:,5], 
                                                  test_size=0.2, 
                                                  random_state=42)
# X_train = np.asarray(X_train).astype(np.float32)
# y_train = np.asarray(y_train).astype(np.float32)

X_train.info()
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830768 entries, 365956 to 264589
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   TITLE            830768 non-null  object
 1   BULLET_POINTS    830768 non-null  object
 2   DESCRIPTION      830768 non-null  object
 3   PRODUCT_TYPE_ID  830768 non-null  int64
dtypes: int64(1), object(3)
memory usage: 31.7+ MB
<class 'pandas.core.series.Series'>
Int64Index: 830768 entries, 365956 to 264589
Series name: PRODUCT_LENGTH
Non-Null Count   Dtype
--------------   -----
830768 non-null  float64
dtypes: float64(1)
memory usage: 12.7 MB

In [27]:
# df.to_csv('preprocessed_data.csv',index = False)
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
df.dropna(subset=['BULLET_POINTS', 'DESCRIPTION'], inplace=True)

# Combine the text in 'BULLET_POINTS' and 'DESCRIPTION' into a single column
df['text'] = df['BULLET_POINTS'] + ' ' + df['DESCRIPTION']

# Preprocess the text data
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Tokenize the text
    tokens = nltk.word_tokenize(text)
    # Remove stop words
    tokens = [token for token in tokens if token not in stop_words]
    # Lemmatize the text
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    # Join the tokens back into a string
    text = ' '.join(tokens)
    return text

# Apply the preprocess_text function to the 'text' column
# df['text'] = df['text'].apply(preprocess_text)

# Encode the text data using the BoW technique

In [29]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['text'])

In [30]:
X.shape

(1038460, 573730)

In [31]:
X_train, X_val, y_train, y_val = train_test_split(X, 
                                                  df['PRODUCT_LENGTH'], 
                                                  test_size=0.2, 
                                                  random_state=42)
# X_train = np.asarray(X_train).astype(np.float32)
# y_train = np.asarray(y_train).astype(np.float32)

# X_train.info()
# y_train.info()

In [32]:
X_train.shape

(830768, 573730)

In [33]:
y_train.shape

(830768,)

In [ ]:
X_train = X_train.toarray()
# y_train = y_train

In [ ]:
X_train.shape

In [36]:
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam', loss='mse')

history = model.fit(X_train, y_train, epochs=10, batch_size=128, validation_data=(X_val, y_val))

WARNING:tensorflow:Keras is training/fitting/evaluating on array-like data. Keras may not be optimized for this format, so if your input data format is supported by TensorFlow I/O (https://github.com/tensorflow/io) we recommend using that to load a Dataset instead.

Epoch 1/10

InvalidArgumentError: ignored

In [38]:
# X_train[0][0]

<1x2765723 sparse matrix of type '<class 'numpy.int64'>'
	with 67 stored elements in Compressed Sparse Row format>